<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/afterlogin.css}" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css">
</head>
<body>
<section class="container">
    <div class="row white" th:fragment="header">
        <div class="block">
            <div class="col-xs-12 col-sm-6 col-md-3" th:each="product : ${products}">
                <ul class="pricing p-green">
                    <li>
                        <h3 th:text="${product.category}">Description</h3>
                    </li>
                    <li>Rs. 200/hour</li>
                    <li>
                        <div class="form-group">
                            <label for="two_wg_hours" class="sr-only">Hours</label>
                            <input type="text" class="form-control" id="two_wg_hours" placeholder="enter number of hours">
                        </div>
                    </li>
                    <li>
                        <h3><div th:inline="text">Price: [[${product.charge}]] $</div></h3>
                    </li>
                    <li>
                        <button>Add to cart</button>
                    </li>
                </ul>
            </div>

            <!--<div class="col-xs-12 col-sm-6 col-md-3">-->
                <!--<ul class="pricing p-yel">-->
                    <!--<li>-->
                        <!--<big>Two Wheeler With Gear</big>-->
                    <!--</li>-->
                    <!--<li>Rs. 250/hour</li>-->
                    <!--<li>-->
                        <!--<div class="form-group">-->
                            <!--<label for="two_w_hours" class="sr-only">Hours</label>-->
                            <!--<input type="text" class="form-control" id="two_w_hours" placeholder="enter number of hours">-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<h3>$199</h3>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<button>Add to cart</button>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->

            <!--<div class="col-xs-12 col-sm-6 col-md-3">-->
                <!--<ul class="pricing p-red">-->
                    <!--<li>-->
                        <!--<big>Four Wheeler Car</big>-->
                    <!--</li>-->
                    <!--<li>Rs. 300/hour</li>-->
                    <!--<li>-->
                        <!--<div class="form-group">-->
                            <!--<label for="four_w_hours" class="sr-only">Hours</label>-->
                            <!--<input type="text" class="form-control" id="four_w_hours" placeholder="enter number of hours">-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<h3>$199</h3>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<button>Add to cart</button>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->


        </div><!-- /block -->
    </div><!-- /row -->
</section>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>