<%--
  Created by IntelliJ IDEA.
  User: shivam
  Date: 18/2/18
  Time: 11:52 PM
  To change this template use File | Settings | File Templates.
--%>
<div class="row">
    <div class="col-3 col-sm-2 col-md-2 col-lg-2 activa_append" id="activa_append">
        <h5><input type="date" name="pickup date"></h5>
    </div>
    <div class="col-3 col-sm-2 col-md-2 col-lg-2 activa_append" id="activa_append">
        <h5><input type="date" name="drop date"></h5>
    </div>
    <div class="col-3 col-sm-2 col-md-2 col-lg-2 activa_append" id="activa_append">
        <h5><input type="time" name="pickup time"></h5>
    </div>
    <div class="col-3 col-sm-2 col-md-2 col-lg-2 activa_append" id="activa_append">
        <h5><input type="time" name="drop time"></h5>
    </div>
    <div class="col-3 col-sm-2 col-md-2 col-lg-2 activa_append" id="activa_append">
        <button class="btn btn-danger remove-div" id="remove-div" type="button">
            Danger
        </button>
    </div>
</div>