<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Smart Buy</title>
    <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="css/default-style.css">-->
    <!--<link rel="stylesheet" href="css/homecards.css">-->
    <!--<script src="js/jquery.min.js"></script>-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/afterlogin.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <header th:replace = "header :: header"></header>
    <div th:if="${param.logout}">
        <div class="alert alert-info">
            You have been logged out.
        </div>
    </div>
    <!--<div th:replace = "two_wheeler_gear :: header"></div>-->
    <section class="container">
        <div class="row white">
            <div class="block">

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <ul class="pricing p-green">
                        <li>
                            <big>Two Wheeler Without Gear</big>
                        </li>
                        <li>Rs. 200/hour</li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <ul class="pricing p-yel">
                        <li>
                            <big>Two Wheeler With Gear</big>
                        </li>
                        <li>Rs. 250/hour</li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <ul class="pricing p-red">
                        <li>
                            <big>Four Wheeler Car</big>
                        </li>
                        <li>Rs. 300/hour</li>
                    </ul>
                </div>


            </div><!-- /block -->
        </div><!-- /row -->
    </section>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>

</html>
