<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Spring Security Tutorial</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/afterlogin.css}" />
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<!--<form th:action="@{/registration}" method="get">-->
		<!--<button class="btn btn-md btn-warning btn-block" type="Submit">Go To Registration Page</button>-->
	<!--</form>	-->
	<br />
	<div class="container">
		<img th:src="@{/images/buyme-logo.jpg}" class="img-responsive center-block" width="100" height="100" alt="Logo" /> <br />
		<form th:action="@{/login}" method="POST" class="form-signin">
			<h3 class="form-signin-heading" th:text="Welcome"></h3>
			<br/>
			 
			<input id="email" type="email"  name="email"  th:placeholder="Email" class="form-control" /> <br/>
			<input id="password" type="password" name="password" th:placeholder="Password"  class="form-control" /> <br />
				
			<div align="center" th:if="${param.error}">
				<p style="font-size: 20px; color: #FF1C19;">Email or Password invalid, please verify</p>
			</div>
			<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>
            <h4 class="text-center"><a th:href="@{/registration}">Create an account</a></h4>

        </form>
	</div>
	<!--section class="container">
		<div class="row white">
			<div class="block">

				<div class="col-xs-12 col-sm-6 col-md-3">
					<ul class="pricing p-green">
						<li>
							<big>Two Wheeler Without Gear</big>
						</li>
						<li>Rs. 200/hour</li>
					</ul>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-3">
					<ul class="pricing p-yel">
						<li>
							<big>Two Wheeler With Gear</big>
						</li>
						<li>Rs. 250/hour</li>
					</ul>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-3">
					<ul class="pricing p-red">
						<li>
							<big>Four Wheeler Car</big>
						</li>
						<li>Rs. 300/hour</li>
					</ul>
				</div>


			</div><!-- /block -->
		</div><!-- /row -->
	<--/section>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>