<%--
  Created by IntelliJ IDEA.
  User: shivam
  Date: 18/2/18
  Time: 9:55 PM
  To change this template use File | Settings | File Templates.
--%>

<div class="card">
    <div class="card-header">
        Two Wheeler without Gear
    </div>
    <div class="card-block" id="two_wheeler_nongear">
        <div class="toggle-visibility-nongear" data-target="#display_on_click_nongear" style="text-align:center; background-color: #9e9e9e;">
            Book Now
        </div>
        <div id="display_on_click_nongear">
            <div class="row">
                <div class="col-6 col-sm-2 col-md-2 col-lg-2">
                    <img src="images/Honda-CBR-150-2.png" id="activa"/>
                </div>
                <div class="col-6 col-sm-2 col-md-2 col-lg-2">
                    <label for="honda_number"># vehicles</label>
                    <input class="form-control" id="honda_number" type="text">
                    <button class="two_wheeler_nogear_div" id="two_wheeler_nogear_div">
                        Set Timings
                    </button>
                </div>
                <div class="col-12 col-sm-7 col-md-7 col-lg-7 honda_append" id="honda_append">
                </div>
                <div class="col-12 col-sm-1 col-md-1 col-lg-1 honda_price" id="honda_append">
                    Rs. $$$$
                </div>
            </div>
        </div>
    </div>

</div>